{% extends 'base_back.html.twig' %}

{% block title %}Home Front{% endblock %}


{% block body %}
    <h2>home du Front</h2>
    <form action="">
        <input type="file" id="myFile" name="filename">
    </form>
{% endblock %}

<script>

    const csv = document.getElementById('myFile');
    // Parse CSV string
    var data = Papa.parse(csv);

    // Convert back to CSV
    var csv = Papa.unparse(data);

    // Parse local CSV file
    Papa.parse(file, {
        complete: function(results) {
            console.log("Finished:", results.data);
        }
    });

    // Stream big file in worker thread
    Papa.parse(bigFile, {
        worker: true,
        step: function(results) {
            console.log("Row:", results.data);
        }
    });

</script>