{% extends 'base_back.html.twig' %}

{% block title %}Home Front{% endblock %}


{% block body %}
    <h2>home du Front</h2>
    <form action="">
        <input type="file" id="myFile"  name="filename">
    </form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
<script>

    $("#myFile").change(function(){
        alert('cfvgbh');
            var ExcelToJSON = function() {
                console.log('here');
                var myfile = $("#myFile");
                this.parseExcel = function(myfile) {
                    console.log('rrr');

                    var reader = new FileReader();

                    reader.onload = function(e) {
                        console.log('aaa');

                        var data = e.target.result;
                        var workbook = XLSX.read(data, {
                            type: 'binary'
                        });

                        workbook.SheetNames.forEach(function(sheetName) {
                            // Here is your object
                            var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                            var json_object = JSON.stringify(XL_row_object);
                            console.log(json_object);
                        })
                    };
                    reader.onerror = function(ex) {
                        console.log(ex);
                    };
                    console.log(reader.readAsBinaryString(myfile));
                };
            };

    })


</script>


{% endblock %}
