{% extends 'base_back.html.twig' %}

{% block title %}Edit Rapport{% endblock %}

{% block body %}
<div class="container">
    <div class="row center ms-4">
    <h1>Edit Rapport</h1>

    {{ include('rapport/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rapport_index') }}">back to list</a>

    {{ include('rapport/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
